.card {
  max-width: 75rem;
  margin: 10rem auto 2rem auto;
  padding: 2rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  position: relative;
  &:after {
    background: linear-gradient(
      to right,
      #bcbcbc 25%,
      #ffcd02 25%,
      #ffcd02 50%,
      #e84f47 50%,
      #e84f47 75%,
      #65c1ac 75%
    );
    position: absolute;
    content: "";
    height: 5px;
    right: 0;
    left: 0;
    top: 0;
  }
}
