.count{
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include respond(phone){
    flex-direction: column;
  }

  &__text{
    font-size: 2rem;
    color: #000;
    font-weight: 800;
      
    @include respond(phone){
      margin: 1.5rem 0;
    }
  }
}
